@model EquipamentoModel

@{
    ViewData["Title"] = "Equipamento";
}

@{
    var vId = string.Empty;
    var vDescricao = string.Empty;
    var vStatus = string.Empty;
    var vEstacao = string.Empty;
    var vImagemPath = string.Empty;
    var vQuantidade = string.Empty;

    try
    {
        vId = @ViewBag.Registro.Id.ToString();
        vDescricao = @ViewBag.Registro.Descricao.ToString();
        vStatus = @ViewBag.Registro.Status.ToString();
        vEstacao = @ViewBag.Registro.Estacao.ToString();
        vImagemPath = @ViewBag.Registro.ImagemPath.ToString();
        vQuantidade = @ViewBag.Registro.Quantidade.ToString();
    }
    catch { }
}

<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Equipamento</h2>
        <h6>Cadastro de equipamento</h6>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/equipamento-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<div class="col-md-8 order-md-1" style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="Equipamento" asp-action="Registrar" enctype="multipart/form-data" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="Id">Código</label>
            <input type="text" class="form-control" asp-for="Id" value="@vId" required>
            <div class="invalid-feedback">
                O campo Código é obrigatório.
            </div>
        </div>

        <div class="mb-3">
            <label>Descrição do item</label>
            <input type="text" class="form-control" asp-for="Descricao "value="@vDescricao" required>
            <div class="invalid-feedback">
                O campo Descrição é obrigatório.
            </div>
        </div>

        <div class="row" style="padding-left: 20px;">

            <div class="form-group">
                <label>Status:</label>
                @{

                    if (vStatus == "Disponível")
                    {

                        <div class="radio" id="radio1"><label><input type="radio" asp-for="Status" value="Disponível" checked onclick="desabilitar()">Disponível</label></div>
                        <div class="radio" id="radio2"><label><input type="radio" asp-for="Status" value="Indisponivel" unchecked onclick="desabilitar()">Indisponivel</label></div>
                    }
                    else
                    {
                        <div class="radio" id="radio3"><label><input type="radio" asp-for="Status" value="Disponível" unchecked onclick="desabilitar()">Disponível</label></div>
                        <div class="radio" id="radio4"><label><input type="radio" asp-for="Status" value="Indisponivel" checked onclick="desabilitar()">Indisponivel</label></div>
                    }
                }
            </div>

            <div style="padding-left: 50px;">
                <label>Quantidade:</label>
                <input id="qtd" type="number" class="form-control" asp-for="Quantidade" value="@vQuantidade">
            </div>

        </div>



        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label>Terminal de origem:</label>
                <select asp-for="Estacao" class="form-control" style="width: 180px" required>
                    @{
                        foreach (var item in (List<EstacaoModel>)ViewBag.ListaEstacao)
                        {
                            <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                        }
                    }
                </select>
                <div class="invalid-feedback">
                    Selecione uma estação de origem do item.
                </div>
            </div>
            @{
                if (string.IsNullOrEmpty(vImagemPath))
                {
                    <div style="padding-left: 100px">
                        <img id="img" src="~/upload/default-image.png" width="200" height="127" />
                    </div>
                }
                else
                {
                    <div style="padding-left: 100px">
                        <img id="img" src="@vImagemPath" width="200" height="127" />
                    </div>
                }
            }
        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Imagem</legend>

            <div class="form-group">
                <div class="col-md-10">
                    <input id="file" asp-for="Imagem" type="file" onchange="CarregarImagem()" />
                </div>
            </div>

        </fieldset>

        <button type="submit" class="btn btn-block btn-success">Cadastrar</button>
    </form>
</div>

<script>
    function CarregarImagem() {
        var img = document.getElementById('img');
        var file = document.getElementById('file').files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var result = reader.result;
            img.src = result;
        }

        reader.readAsDataURL(file);
    }

    function desabilitar() {

        var radio1 = document.getElementById('radio1');
        var radio2 = document.getElementById('radio2');
        var radio3 = document.getElementById('radio3');
        var radio4 = document.getElementById('radio4');
        var qtd = document.getElementById('qtd');

        if (radio1.checked == true || radio3.checked == true) {
            qtd.disabled = false;
        }

        if (radio2.checked == true || radio4.checked == true) {
            qtd.disabled = true;
        }
    }


</script>

<style>

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }
</style>

