@model RequisicaoModel
@{
    ViewData["Title"] = "Atendimentos pendentes";
}


<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Atendimentos pendentes</h2>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/search-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<div class="container" style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">

    <form asp-controller="Requisicao" asp-action="Atendimentos">

        <div class="row">
            <div class="col-md-6 mb-3">
                <br />
                <input type="date" class="form-control" asp-for="Data">
            </div>

            <div class="col-md-6 mb-3">
                <br />
                <input type="date" class="form-control" asp-for="DataFinal">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label>Status:</label>
                <select asp-for="Status" class="form-control" style="width: 180px">
                    <option value="Todos">Todos</option>
                    <option value="Solicitar">Solicitado</option>
                    <option value="Liberar">Liberado</option>
                    <option value="Coletar">Em coleta</option>
                    <option value="Processar">Em processamento</option>
                    <option value="Cancelar">Cancelado</option>
                    <option value="Programar">Programado</option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label>Usuário:</label>
                <select asp-for="UsuarioAtual" class="form-control" style="width: 180px">

                    @using Microsoft.AspNetCore.Http;
                    @inject IHttpContextAccessor HttpContextAccessor

                    <option value="@HttpContextAccessor.HttpContext.Session.GetString("IdUsuarioLogado")">@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")</option>

                    @{
                        foreach (var item in (List<UsuarioModel>)ViewBag.ListaUsuario)
                        {
                            if (@item.Login.ToString() != @HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado"))
                            {
                                <option value="@item.Id.ToString()">@item.Login.ToString()</option>
                            }
                        }
                    }

                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Tipo transação:</label>
            <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Tipo" value="A" checked>
                <label class="form-check-label" for="inlineRadio1">Todas</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Tipo" value="B">
                <label class="form-check-label" for="inlineRadio2">Backload</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Tipo" value="T">
                <label class="form-check-label" for="inlineRadio3">Transbordo</label>
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary"><strong>Filtrar</strong></button>

    </form>

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Etapa</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Usuário</th>
                <th> </th>
            </tr>
        </thead>

        @{
            foreach (var item in (List<RequisicaoModel>)ViewBag.ListaRequisicao)
            {
                <tbody>
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Data.ToString()</td>
                        <td>@item.Status.ToString()</td>
                        <td style="color:firebrick">@item.Tipo.ToString().Replace("B", "Backload").Replace("T", "Transbordo")</td>
                        <td>@item.Descricao.ToString()</td>
                        <td>@item.Origem.ToString()</td>
                        <td>@item.Destino.ToString()</td>
                        <td>@item.NomeUsuarioAtual.ToString()</td>
                        <td><button type="button" class=" btn btn-primary" onclick="Editar(@item.Id.ToString())">Abrir</button></td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>

<script>
    function Editar(id) {
        window.location.href = "../Requisicao/Informacao/" + id;
    }
</script>


