@model RequisicaoModel

@{
    ViewData["Title"] = "Gravar / alterar";
}

@{
    var vId = 0;
    var vDescricao = string.Empty;
    var vTipo = string.Empty;
    var vData = string.Empty;
    var vData_final = string.Empty;
    var vNomeUsuario = string.Empty;
    var vStatus = string.Empty;
    var vOrigem = string.Empty;
    var vDestino = string.Empty;

    try
    {
        vId = Convert.ToInt32(@ViewBag.Registro.Id);
        vDescricao = @ViewBag.Registro.Descricao;
        vTipo = @ViewBag.Registro.Tipo.ToString();
        vData = Convert.ToDateTime(@ViewBag.Registro.Data).ToString("yyyy-MM-dd");
        vNomeUsuario = @ViewBag.Registro.NomeUsuario.ToString();
        vStatus = @ViewBag.Registro.Status.ToString();
        vOrigem = @ViewBag.Registro.Origem.ToString();
        vDestino = @ViewBag.Registro.Destino.ToString();
    }
    catch { }
}


<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Informação de atendimento</h2>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/requisicao-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<div style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="Requisicao" asp-action="Informacao">
        <input type="hidden" asp-for="Id" value="@vId" />

        <div class="mb-3">
            <label>Data de abertura:</label>
            <br />
            <input type="date" class="form-control" asp-for="Data" value="@vData">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Responsável:</label>
            <select asp-for="NomeUsuario" class="form-control" style="width: 180px">
                @{
                    foreach (var item in (List<UsuarioModel>)ViewBag.ListaUsuario)
                    {
                        <option value="@item.Nome.ToString()">@item.Nome.ToString()</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Tipo:</label>
            @{
                if (vTipo == "B")
                {
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="B" checked>Backload</label></div>
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="T" unchecked>Transbordo</label></div>
                }
                else
                {
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="B" unchecked>Backload</label></div>
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="T" checked>Transbordo</label></div>
                }
            }
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Origem:</label>
                <br />
                <input type="text" class="form-control" asp-for="Origem" value="@vOrigem">
            </div>
            <div class="col-md-3 mb-4">
                <label>Destino:</label>
                <br />
                <input type="text" class="form-control" asp-for="Destino" value="@vDestino">
            </div>
        </div>


        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Equipamentos solicitados</legend>

            <div class="form-group" style="background-color: ghostwhite; border-radius: 10px; padding:20px;">
                <table class="table table-bordered" id="TabelaItens">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantidade solicitada</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                          
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                Adicionar item 
            </button>

        </fieldset>

        <div class="form-group">
            <label>Descição:</label>
            @Html.TextArea("Descricao", vDescricao, new { @class = "form-control" })
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Encaminhar</legend>
            <div class="row">
                <div class="form-group col-md-4 mb-3">
                    <label>Etapa:</label>
                    <select asp-for="Status" class="form-control" style="width: 180px">
                        <option value="Solicitado">Soliciatação</option>
                        <option value="Liberado para programação">Liberar para programação</option>
                        <option value="Em coleta">Coletar</option>
                        <option value="Em processamento">Processar</option>
                        <option value="Cancelado">Cancelar</option>
                        <option value="Programado">Programar</option>
                    </select>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label>Usuário:</label>
                    <select asp-for="NomeUsuario" class="form-control" style="width: 180px">
                        @{
                            foreach (var item in (List<UsuarioModel>)ViewBag.ListaUsuario)
                            {
                                <option value="@item.Nome.ToString()">@item.Nome.ToString()</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-block btn-success ">Gravar</button>

    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            
                <div class="row text-center" style="padding-left: 30px;">
                    <div>
                        <h3 class="modal-title" id="myModal-label">Adicionar itens</h3>
                    </div>
                    <div style="padding-left: 30px;">
                        <img src="~/images/maquina-icon.png" width="43" height="43" />
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="background-color: ghostwhite; border-radius: 10px; padding:20px; width:800px">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th> </th>
                            <th>Estoque</th>
                            <th>Quantidade</th>
                            <th> </th>
                        </tr>
                    </thead>
                    @{
                        foreach (var item in (List<EquipamentoModel>)ViewBag.ListaItem)
                        {
                            if (@item.Status.ToString() != "Indisponível")
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.Descricao.ToString()</td>
                                        <td><img src="@item.ImagemPath.ToString()" width="50" height="50" /></td>
                                        <td class="text-center">@item.Quantidade.ToString()</td>
                                        <td class="text-center"><input type="number" id="qtd" style="width:60px"></td>
                                        <td><button type="submit" class=" btn btn-success" onclick="Add('@item.Id.ToString()')">Adicionar</button></td>
                                    </tr>
                                </tbody>
                            }
                        }
                    }
                </table>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function Add(id) {

        var tabela = document.getElementById('TabelaItens');
        var numeroLinhas = tabela.rows.length;
        var linha = tabela.insertRow(numeroLinhas);

        var celula1 = linha.insertCell(0);
        var celula2 = linha.insertCell(1);
        var celula3 = linha.insertCell(2);

        var qtd = document.getElementById('qtd');

        celula1.innerHTML =  id;
        celula2.innerHTML =  qtd.value;
        celula3.innerHTML = "<button id ='remover' onclick='removeLinha(this)'>Remover</button>";

        window.close();
    } 

    function removeLinha(linha) {
        var i = linha.parentNode.parentNode.rowIndex;
        document.getElementById('TabelaItens').deleteRow(i);
    }

</script>

<style>

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }

    .modal-lg {
        max-width: 44%;
    }

    #remover {
        background-color: royalblue;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        margin: 6px 4px;
        padding: 10px 24px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

</style>
