@model RequisicaoModel

@{
    ViewData["Title"] = "Gravar / alterar";
}

@{
    var vId = 0;
    var vDescricao = string.Empty;
    var vTipo = string.Empty;
    var vData = DateTime.Now.ToString("yyyy-MM-dd");
    var vStatus = string.Empty;
    var vOrigem = string.Empty;
    var vDestino = string.Empty;
    var vNomeUsuarioResponsavel = string.Empty;
    var vNomeEstacaoOrigem = string.Empty;
    var vNomeEstacaoDestino = string.Empty;
    var vUsuarioAtual = string.Empty;
    var vNomeUsuarioAtual = string.Empty;

    try
    {
        vId = Convert.ToInt32(@ViewBag.Registro.Id);
        vDescricao = @ViewBag.Registro.Descricao;
        vTipo = @ViewBag.Registro.Tipo.ToString();
        vData = Convert.ToDateTime(@ViewBag.Registro.Data).ToString("yyyy-MM-dd");
        vStatus = @ViewBag.Registro.Status.ToString();
        vOrigem = @ViewBag.Registro.Origem.ToString();
        vDestino = @ViewBag.Registro.Destino.ToString();
        vNomeUsuarioResponsavel = @ViewBag.Registro.NomeUsuarioResponsavel.ToString();
        vNomeEstacaoOrigem = @ViewBag.Registro.NomeEstacaoOrigem.ToString();
        vNomeEstacaoDestino = @ViewBag.Registro.NomeEstacaoDestino.ToString();
        vUsuarioAtual = @ViewBag.Registro.UsuarioAtual.ToString();
        vNomeUsuarioAtual = @ViewBag.Registro.NomeUsuarioAtual.ToString();
    }
    catch { }
}
<!-- Cabeçalho -->
<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Informação de atendimento</h2>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/requisicao-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<!-- Campos -->
<div style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="Requisicao" asp-action="Informacao">

        <div class="mb-3">
            <label>Requisição:</label>
            <br />
            <input id="ID" type="number" class="form-control" asp-for="Id" value="@vId" style="width: 180px" disabled="disabled">
        </div>

        <div class="mb-3">
            <label>Data de abertura:</label>
            <br />
            <input type="date" class="form-control" asp-for="Data" value="@vData" style="width: 180px">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Requisitante:</label>
            @{
                if (string.IsNullOrEmpty(vNomeUsuarioResponsavel))
                {
                    @using Microsoft.AspNetCore.Http;
                    @inject IHttpContextAccessor HttpContextAccessor
                    <input type="hidden" asp-for="UsuarioResponsavel" value="@HttpContextAccessor.HttpContext.Session.GetString("IdUsuarioLogado")" />
                    <input type="text" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")" style="width: 180px" disabled>
                }
                else
                {
                    <input type="text" class="form-control" value="@vNomeUsuarioResponsavel" style="width: 180px" disabled>
                }
            }
        </div>

        <div class="form-group">
            <label>Tipo:</label>
            @{
                if (vTipo == "T")
                {
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="B" unchecked>Backload</label></div>
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="T" checked>Transbordo</label></div>
                }
                else
                {
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="B" checked>Backload</label></div>
                    <div class="radio"><label><input type="radio" asp-for="Tipo" value="T" unchecked>Transbordo</label></div>
                }
            }
        </div>

        <div class="row">


            <div class="col-md-3 mb-3">
                <label>Terminal de origem:</label>

                <select asp-for="Origem" class="form-control" style="width: 180px" required>

                    @{
                        if (string.IsNullOrEmpty(vOrigem))
                        {
                            <option value="">Selecionar...</option>
                            foreach (var item in (List<EstacaoModel>)ViewBag.ListaEstacao)
                            {
                                <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                            }
                        }
                        else
                        {
                            <option value="@vOrigem">@vNomeEstacaoOrigem</option>
                            foreach (var item in (List<EstacaoModel>)ViewBag.ListaEstacao)
                            {
                                if (item.Id.ToString() != vOrigem)
                                {
                                    <option value="@item.Id.ToString()">@item.Nome</option>
                                }
                            }
                        }
                    }

                </select>
                <div class="invalid-feedback">
                    Selecione uma estação de origem da requisição.
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <label>Terminal de destino:</label>
                <select asp-for="Destino" class="form-control" style="width: 180px" required>

                    @{
                        if (string.IsNullOrEmpty(vDestino))
                        {
                            <option value="">Selecionar...</option>
                            foreach (var item in (List<EstacaoModel>)ViewBag.ListaEstacao)
                            {
                                <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                            }
                        }
                        else
                        {
                            <option value="@vDestino">@vNomeEstacaoDestino</option>
                            foreach (var item in (List<EstacaoModel>)ViewBag.ListaEstacao)
                            {
                                if (item.Id.ToString() != vDestino)
                                {
                                    <option value="@item.Id.ToString()">@item.Nome</option>
                                }
                            }
                        }
                    }

                </select>
                <div class="invalid-feedback">
                    Selecione uma estação de destino da requisição.
                </div>
            </div>

        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Equipamentos solicitados</legend>

            <div class="form-group" style="background-color: ghostwhite;">

                <select asp-for="ItensRequisicaoTela" class="custom-select" style="width:250px" id="mySelect" multiple>

                    <optgroup label="Código   -   Quantidade"></optgroup>

                    @{
                        var lista = (List<ItemRequisicaoModel>)ViewBag.ItemRequisicao;

                        if (lista != null)
                        {
                            foreach (var equipamento in lista)
                            {
                                <option value="@equipamento.CodigoEquipamento.ToString();@equipamento.Quantidade.ToString()" selected="selected">@equipamento.CodigoEquipamento.ToString()  -  @equipamento.Quantidade.ToString()</option>
                            }
                        }
                    }
                </select>

            </div>

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado" id="btnAdicionar" style="display:none"> Adicionar item </button>

        </fieldset>

        <div class="form-group">
            <label>Descição:</label>
            @Html.TextArea("Descricao", vDescricao, new { @class = "form-control" })
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Encaminhar</legend>
            <div class="row">
                <div class="form-group col-md-4 mb-3">
                    <label>Etapa:</label>

                    <select asp-for="Status" class="form-control" style="width: 180px" id="selectStatus" onchange="LiberarTransporte()">

                        @{

                            if (string.IsNullOrEmpty(vStatus))
                            {
                                <option value="">Selecionar...</option>
                                <option value="Solicitar">Solicitar</option>
                                <option value="Liberar">Liberar</option>
                                <option value="Coletar">Coletar</option>
                                <option value="Processar">Processar</option>
                                <option value="Cancelar">Cancelar</option>
                                <option value="Programar">Programar</option>
                            }
                            else
                            {
                                <option value="@vStatus">@vStatus</option>

                                foreach (var item in (List<string>)ViewBag.ListaStatus)
                                {
                                    if (vStatus != item)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            }
                        }

                    </select>

                </div>

                <div class="form-group col-md-4 mb-3">
                    <label>Usuário:</label>
                    <select asp-for="UsuarioAtual" class="form-control" style="width: 180px">

                        @{

                            if (string.IsNullOrEmpty(vNomeUsuarioAtual))
                            {
                                <option value="">Selecionar...</option>
                                foreach (var item in (List<UsuarioModel>)ViewBag.ListaUsuario)
                                {
                                    <option value="@item.Id.ToString()">@item.Login.ToString()</option>
                                }
                            }
                            else
                            {
                                <option value="@vUsuarioAtual">@vNomeUsuarioAtual</option>
                                foreach (var item in (List<UsuarioModel>)ViewBag.ListaUsuario)
                                {
                                    if (item.Id.ToString() != vUsuarioAtual)
                                    {
                                        <option value="@item.Id.ToString()">@item.Login.ToString()</option>
                                    }
                                }

                            }
                        }

                    </select>
                    <div class="invalid-feedback">
                        Selecione um usuário para próxima etapa.
                    </div>
                </div>

            </div>

            <button id="btnEntrega" type="button" class=" btn btn-info" onclick="Editar()" style="display:none">Programar entrega</button>

        </fieldset>

        <button type="submit" class="btn btn-block btn-success ">Gravar</button>

    </form>
</div>



<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row text-center" style="padding-left: 30px;">
                    <div>
                        <h3 class="modal-title" id="myModal-label">Adicionar itens</h3>
                    </div>
                    <div style="padding-left: 30px;">
                        <img src="~/images/maquina-icon.png" width="43" height="43" />
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="background-color: ghostwhite; border-radius: 10px; padding:20px; width:800px">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th> </th>
                                <th>Estoque atual</th>
                                <th>Quantidade solicitada</th>
                                <th> </th>
                            </tr>
                        </thead>

                        @{
                            var contador = 1;

                            foreach (var item in (List<EquipamentoModel>)ViewBag.ListaEquipamento)
                            {
                                if (@item.Status.ToString() != "Indisponível")
                                {

                                    var identificador = "qtdSolicidatada" + contador.ToString();

                                    <tbody>
                                        <tr>
                                            <td>@item.Descricao.ToString()</td>
                                            <td><img src="@item.ImagemPath.ToString()" width="50" height="50" /></td>
                                            <td class="text-center" id="qtdAtual">@item.Quantidade.ToString()</td>
                                            <td class="text-center"><input type="number" id="@identificador" style="width:60px" min='0' max="@item.Quantidade.ToString()"></td>
                                            <td><button type="submit" class=" btn btn-success" onclick="addOption('@item.Id.ToString()', '@contador.ToString()')">Adicionar</button></td>
                                        </tr>
                                    </tbody>
                                }

                                contador++;
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {
        var id = document.getElementById('ID').value;

        if (id != 0) {
            document.getElementById('btnAdicionar').style.display = 'inline';
        }  

        LiberarTransporte();
    } 

    function addOption(id, contador) {

        var identificador = "qtdSolicidatada" + contador;

        var quantidade = document.getElementById(identificador);

        var text = id + ' - ' + quantidade.value;

        var valor = id + ';' + quantidade.value;

        var option = new Option(text, valor, true, true);

        var select = document.getElementById("mySelect");

        select.add(option);
    }

    function removeLinha(linha) {

        var i = linha.parentNode.parentNode.rowIndex;
        document.getElementById('TabelaItens').deleteRow(i);

    }

    function Editar() {
        var id = document.getElementById('ID').value;
        window.location.href = "../../Entrega/Registrar/" + id;
    }

    function LiberarTransporte() {
        var select = document.getElementById('selectStatus');
        var option = select.options[select.selectedIndex].value;

        if (option == "Programar") {
            document.getElementById('btnEntrega').style.display = 'inline';
        }
    }

</script>

<style>

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }

    .modal-lg {
        max-width: 44%;
    }

    #remover {
        background-color: royalblue;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        margin: 6px 4px;
        padding: 10px 24px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
</style>