@model UsuarioModel

@{
    ViewData["Title"] = "Usuário";
}

@{
    var vId = string.Empty;
    var vLogin = string.Empty;
    var vSenha = string.Empty;
    var vPerfilAcesso = string.Empty;
    var vIdFuncionario = string.Empty;
    var vNome = string.Empty;


    try
    {
        vId = @ViewBag.UsuarioBanco.Id.ToString();
        vLogin = @ViewBag.UsuarioBanco.Login.ToString();
        vSenha = @ViewBag.UsuarioBanco.Senha.ToString();
        vPerfilAcesso = @ViewBag.UsuarioBanco.PerfilAcesso.ToString();
        vIdFuncionario = @ViewBag.UsuarioBanco.IdFuncionario.ToString();
        vNome = @ViewBag.UsuarioBanco.Nome.ToString();
    }
    catch { }
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>


<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Usuário</h2>
        <h6>Cadastro de usuário do sistema</h6>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/user-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<div class="col-md-8 order-md-1" style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="Usuario" asp-action="NovoUsuario">

        <div class="form-group">
            <label>Funcionário:</label>
            <select asp-for="IdFuncionario" class="form-control" style="width: 300px" id="selectFuncionario" required>

                @{
                    if (string.IsNullOrEmpty(vId))
                    {
                        <option value="">Selecionar...</option>

                        foreach (var item in (List<UsuarioModel>)ViewBag.ListaFuncionario)
                        {
                            <option value="@item.IdFuncionario.ToString()">@item.IdFuncionario.ToString() - @item.Nome.ToString()</option>
                        }
                    }
                    else
                    {
                        <option value="@vId">@vIdFuncionario - @vNome</option>
                        foreach (var item in (List<UsuarioModel>)ViewBag.ListaFuncionario)
                        {
                            if (item.Id.ToString() != vId)
                            {
                                <option value="@item.IdFuncionario.ToString()">@item.IdFuncionario.ToString() - @item.Nome.ToString()</option>
                            }
                        }
                    }
                }

            </select>
        </div>


        <div class="mb-3">
            <label for="usuario">Usuário: <span class="text-muted" /></label>
            <input type="text" class="form-control" asp-for="Login" id="usuário" placeholder="NOME.SOBRENOME" style="text-transform:uppercase;" value="@vLogin" required>
        </div>


        <div class="mb-3">
            <label for="pwd">Senha:<span class="text-muted" /></label>
            <input type="password" class="form-control" placeholder="Senha" asp-for="Senha" id="password" value="@vSenha" required>
            <br />
            <label for="pwd">Confirmar senha:<span class="text-muted" /></label>
            <input type="password" class="form-control" placeholder="Confirmar senha" id="confirm_password" required>
        </div>

        <div class="form-group">
            <label>Perfil de acesso:</label>
            <select class="custom-select d-block w-100" asp-for="PerfilAcesso" id="perfil" required>

                @{
                    if (vPerfilAcesso == "0")
                    {
                        <option value="0">Usuário</option>
                        <option value="1">Administrador</option>

                    }
                    else if (vPerfilAcesso == "1")
                    {

                        <option value="1">Administrador</option>
                        <option value="0">Usuário</option>
                    }
                    else
                    {
                        <option value="">Selecionar..</option>
                        <option value="0">Usuário</option>
                        <option value="1">Administrador</option>
                    }
                }

            </select>
        </div>

        <button type="submit" class="btn btn-block btn-success">Cadastrar</button>

    </form>
</div>

<script>

    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Senhas diferentes!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>


