@model EmbarcacaoModel

@{
    ViewData["Title"] = "Embarcação";
}

@{
    var vId = string.Empty;
    var vNome = string.Empty;
    var vCapacidade = string.Empty;
    var vAreaCarga = string.Empty;
    var vAcomodacao = string.Empty;
    var vCategoria = string.Empty;

    try
    {
        vId = @ViewBag.Registro.Id.ToString();
        vNome = @ViewBag.Registro.Nome.ToString();
        vCapacidade = @ViewBag.Registro.Capacidade.ToString();
        vAreaCarga = @ViewBag.Registro.AreaCarga.ToString();
        vAcomodacao = @ViewBag.Registro.Acomodacao.ToString();
        vCategoria = @ViewBag.Registro.Categoria.ToString();
    }
    catch { }
}


<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Embarcação de apoio</h2>
        <h6>Cadastro de Embarcação de apoio</h6>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/navio-icon.png" width="63" height="63" />
    </div>
</div>
<br />

<div class="col-md-8 order-md-1" style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="Embarcacao" asp-action="Registrar">

        <div class="mb-3">
            <label for="Id">Código</label>
            <input type="text" class="form-control" asp-for="Id" value="@vId" required>           
        </div>

        <div class="mb-3">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" value="@vNome" required>         
        </div>
        <div class="mb-3">
            <label for="Capacidade">Capacidade Máxima (t):</label>
            <input type="number" class="form-control" asp-for="Capacidade" value="@vCapacidade" required>          
        </div>

        <div class="mb-3">
            <label for="AreaCarga">Área de Carga Livre (m²):</label>
            <input type="number" class="form-control" asp-for="AreaCarga" value="@vAreaCarga" required>           
        </div>

        <div class="mb-3">
            <label for="Acomodacao">Acomodação Total:</label>
            <input type="number" class="form-control" asp-for="Acomodacao" value="@vAcomodacao" required>         
        </div>

        <div class="mb-3">
            <label for="Categoria">Categoria:</label>

            <select asp-for="Categoria" class="custom-select d-block w-100" id="Categoria" required>


                @{
                    if (string.IsNullOrEmpty(vCategoria))
                    {
                        <option value="">Selecionar...</option>
                        <option value="PSV">PSV – Navio de apoio a plataformas</option>
                        <option value="AHTS">AHTS – Navio de suprimento, reboque e manejo de âncoras</option>
                        <option value="P">P - Transporte de passageiros</option>
                        <option value="UT">UT – Embarcação de caráter geral</option>
                    }
                    else
                    {
                        <option value="@vCategoria">@vCategoria</option>

                        foreach (var item in (List<string>)ViewBag.ListaCategoria)
                        {
                            if (vCategoria != item)
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    }
                }

            </select>    
            
        </div>

        <button type="submit" class="btn btn-block btn-success"> Cadastrar </button>

    </form>
</div>


